
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-nav ">
    <li class="nav-item">
      <button class="btn btn-outline-info m-lg-2" (click)="onGetAll()">All</button>
    </li>
    <li class="nav-item">
      <button class="btn btn-outline-info m-lg-2" (click)="onGetSelected()">Selected</button>
    </li>
    <li class="nav-item">
      <button class="btn btn-outline-info  m-lg-2" (click)="onGetAvalaible()">Avalaible</button>
    </li>
    <li class="nav-item">
      <a class="btn btn-outline-info  m-lg-2"  routerLink="/add-products">Add Prudact</a>
    </li>

  </ul>
  <form #f="ngForm" (submit)="search(f.value.name)" class="navbar-nav ms-auto ">
    <input ngModel name="name" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</nav>
<br>
<br>
