<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-nav ">
    <li class="nav-item">
      <button class="btn btn-outline-info m-lg-2" (click)="onGetAll()">All</button>
    </li>
    <li class="nav-item">
      <button class="btn btn-outline-info m-lg-2" (click)="onGetSelected()">Selected</button>
    </li>
    <li class="nav-item">
      <button class="btn btn-outline-info  m-lg-2" (click)="onGetAvalaible()">Avalaible</button>
    </li>
    <li class="nav-item">
      <a class="btn btn-outline-info  m-lg-2" routerLink="/add-products">Add Prudact</a>
    </li>
  </ul>
  <form #f="ngForm" (submit)="search(f.value.name)" class="navbar-nav ms-auto ">
    <input ngModel name="name" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</nav>
<br>
<br>

<ng-container *ngIf="listProdact$ | async as result" [ngSwitch]="result.dataState">
  <ng-container *ngSwitchCase="DataStateEnum.LOADED">

  </ng-container>
  <ng-container *ngSwitchCase="DataStateEnum.ERROR">
    <div class="alert alert-danger" role="alert">
      {{result.errorMessage}}
    </div>

  </ng-container>
  <ng-container *ngSwitchCase="DataStateEnum.LOADING">
    <div class="container" *ngIf="listProdact$">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>id</th>
          <th>name</th>
          <th>price</th>
          <th>quantity</th>
          <th>selected</th>
          <th>available</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let prodact of result.data ">
          <td>{{prodact.id}}</td>
          <td>{{prodact.name}}</td>
          <td>{{prodact.price}}</td>
          <td>{{prodact.quantity}}</td>
          <td>{{prodact.selected}}</td>
          <td>{{prodact.available}}</td>
          <td>
            <button class="btn btn-sm" (click)="onSelect(prodact)"
                    [ngClass]="prodact.selected ? 'btn-success':'btn-danger'">
              <span *ngIf='prodact.selected  '>Selected</span>
              <span *ngIf='!prodact.selected  '>Unselected</span>
            </button>
          </td>
          <td>
            <button (click)="deleteProduit(prodact.id)" class="btn btn-danger"><span class="fa fa-trash-o"></span></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </ng-container>

</ng-container>
